## Imports

In [154]:
import pandas as pd

## Generate a DataFrame views with two columns: datetime and user by reading 'feed-views.log'

In [155]:
views = pd.read_csv('../data/feed-views.log',
                    sep = '\t', header = None,
                    names = ['datetime', 'user'],
                    parse_dates = ['datetime'])

In [156]:
views.head(5)

                    datetime   user
0 2020-04-17 12:01:08.463179  artem
1 2020-04-17 12:01:23.743946  artem
2 2020-04-17 12:27:30.646665  artem
3 2020-04-17 12:35:44.884757  artem
4 2020-04-17 12:35:52.735016  artem

## Let's print information about our DataFrame
#### The information contains the number of columns, column labels, column data types, memory usage, range index, and the
#### number of cells in each column (non-null values).

In [157]:
views.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1076 entries, 0 to 1075
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  1076 non-null   datetime64[ns]
 1   user      1076 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 16.9+ KB

## Extract the year, month, day, hour, minute, and second from the values of that
## column to the new columns

In [158]:
views['year'] = views['datetime'].dt.year
views['month'] = views['datetime'].dt.month
views['day'] = views['datetime'].dt.day
views['hour'] = views['datetime'].dt.hour
views['minute'] = views['datetime'].dt.minute
views['second'] = views['datetime'].dt.second

## Let's see how it looks

In [159]:
views.head()

                    datetime   user  year  month  day  hour  minute  second
0 2020-04-17 12:01:08.463179  artem  2020      4   17    12       1       8
1 2020-04-17 12:01:23.743946  artem  2020      4   17    12       1      23
2 2020-04-17 12:27:30.646665  artem  2020      4   17    12      27      30
3 2020-04-17 12:35:44.884757  artem  2020      4   17    12      35      44
4 2020-04-17 12:35:52.735016  artem  2020      4   17    12      35      52

## Create the new column daytime
### Use __cut__ when you need to segment and sort data values into bins.

In [160]:
labels = ['night', 'early morning', 'morning', 'afternoon', 'early evening', 'evening']
views['daytime'] = pd.cut(views['hour'], [0, 4, 7, 11, 17, 20, 24], labels=labels, right=False, include_lowest=True)

#### assign the column user as the index

In [161]:
views = views.set_index('user')
views.head()

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
artem,2020-04-17 12:01:08.463179,2020,4,17,12,1,8,afternoon
artem,2020-04-17 12:01:23.743946,2020,4,17,12,1,23,afternoon
artem,2020-04-17 12:27:30.646665,2020,4,17,12,27,30,afternoon
artem,2020-04-17 12:35:44.884757,2020,4,17,12,35,44,afternoon
artem,2020-04-17 12:35:52.735016,2020,4,17,12,35,52,afternoon

## Calculate the number of elements inyour dataframe
#### use the method count

In [162]:
views.count()

datetime    1076
year        1076
month       1076
day         1076
hour        1076
minute      1076
second      1076
daytime     1076
dtype: int64

#### calculate the number of elements in each time of day category using the method value_counts()

In [163]:
views.daytime.value_counts()

evening          509
afternoon        252
early evening    145
night            129
morning           36
early morning      5
Name: daytime, dtype: int64

## Sort values in your DataFrame by hour, minute, and second in ascending order
## (simultaneously and not one by one)

In [164]:
views = views.sort_values(['hour', 'minute', 'second'])
views.head()

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
valentina,2020-05-15 00:00:13.222265,2020,5,15,0,0,13,night
valentina,2020-05-15 00:01:05.153738,2020,5,15,0,1,5,night
pavel,2020-05-12 00:01:27.764025,2020,5,12,0,1,27,night
pavel,2020-05-12 00:01:38.444917,2020,5,12,0,1,38,night
pavel,2020-05-12 00:01:55.395042,2020,5,12,0,1,55,night

## Calculate the minimum and maximum for the hours and the mode for the daytime categories

#### calculate the maximum of hour for the rows where the time of day is night

In [165]:
views[views['daytime'] == 'night']['hour'].max()

3

#### calculate the minimum of hour for the rows where the time of day is morning

In [166]:
views[views['daytime'] == 'morning']['hour'].min()

8

#### In addition to this, find out who visited the page at those hours (make one example from that)

In [167]:
views[(views['hour'] == views[views['daytime'] == 'night']['hour'].max())]

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
konstantin,2020-04-19 03:23:35.471598,2020,4,19,3,23,35,night
konstantin,2020-04-19 03:23:55.473926,2020,4,19,3,23,55,night
konstantin,2020-04-19 03:33:07.757714,2020,4,19,3,33,7,night

In [168]:
views[(views['hour'] == views[views['daytime'] == 'morning']['hour'].min())]

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
alexander,2020-05-15 08:16:03.918402,2020,5,15,8,16,3,morning
alexander,2020-05-15 08:35:01.471463,2020,5,15,8,35,1,morning

#### calculate the mode for the hour and daytime

In [169]:
views['hour'].mode() # the mode of a set of values is the value that appears most often.

0    22
Name: hour, dtype: int64

In [170]:
views['daytime'].mode()

0    evening
Name: daytime, dtype: category
Categories (6, object): ['night' < 'early morning' < 'morning' < 'afternoon' < 'early evening' < 'evening']

## Show the 3 earliest hours in the morning and the corresponding usernames and the 3 latest hours and the usernames using nsmallest() and nlargest()

#### DataFrame.nsmallest(n, columns, keep='first') - return the first n rows ordered by columns in ascending order.

In [171]:
views[views['daytime'] == 'morning'].nsmallest(3, ['hour', 'minute', 'second'])

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
alexander,2020-05-15 08:16:03.918402,2020,5,15,8,16,3,morning
alexander,2020-05-15 08:35:01.471463,2020,5,15,8,35,1,morning
alexander,2020-05-15 09:02:24.999438,2020,5,15,9,2,24,morning

#### DataFrame.nlargest(n, columns, keep='first') - return the first n rows ordered by columns in descending order.

In [172]:
views[views['daytime'] == 'morning'].nlargest(3, ['hour', 'minute', 'second'])

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
konstantin,2020-04-18 10:57:37.331258,2020,4,18,10,57,37,morning
konstantin,2020-05-09 10:56:59.161519,2020,5,9,10,56,59,morning
maxim,2020-04-18 10:56:55.833899,2020,4,18,10,56,55,morning

## Use the method describe() to get the basic statistics for the columns

In [173]:
views.describe() ## generate descriptive statistics

         year        month          day         hour       minute       second
count  1076.0  1076.000000  1076.000000  1076.000000  1076.000000  1076.000000
mean   2020.0     4.870818    13.552974    16.249071    29.629182    29.500929
std       0.0     0.335557     4.906567     6.955490    17.689388    17.405506
min    2020.0     4.000000     1.000000     0.000000     0.000000     0.000000
25%    2020.0     5.000000    11.000000    13.000000    14.000000    14.000000
50%    2020.0     5.000000    13.000000    19.000000    29.000000    30.000000
75%    2020.0     5.000000    15.000000    22.000000    46.000000    45.000000
max    2020.0     5.000000    30.000000    23.000000    59.000000    59.000000

#### to find out what the most popular interval for visiting the page is, calculate the interquartile range for the hour by extracting values from the result of the describe() method and store it in the variable iqr

In [176]:
iqr = views.describe()['hour'].loc['75%'] - views.describe()['hour'].loc['25%']

In [177]:
iqr

9.0