## Imports

In [17]:
import pandas as pd

## read_csv

In [18]:
df = pd.read_csv('../data/feed-views.log',
                 sep = '\t',
                 skiprows = [2,3],
                 skipfooter = 2,
                 engine = 'python',
                 header = None,
                 names = ['datetime', 'user'],
                 index_col = 'datetime')

## Let's get first 5 rows in '../data/feed-views.log'

In [19]:
df.head()

                              user
datetime
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

## Rename datetime to date_time according to the subject

In [20]:
df.index.name = 'date_time'

In [21]:
df.head()

                              user
date_time
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

## Let's get last 5 rows in '../data/feed-views.log'

In [22]:
df.tail()

                                 user
date_time
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

## Let's count the number of users in '../data/feed-views.log'

In [23]:
df.count()

user    1072
dtype: int64

## Convert log file to csv

In [24]:
df.to_csv('../data/feed-views-semicolon.log', sep=';')