## Imports

In [20]:
import pandas as pd

## Download and read the CSV file and make ID the index column

In [21]:
df = pd.read_csv('../data/auto.csv', index_col='ID')
df.head()

       CarNumber  Make_n_model  Refund   Fines  History
ID
0   Y163O8161RUS    Ford Focus     2.0  3200.0      NaN
1    E432XX77RUS  Toyota Camry     1.0  6500.0      NaN
2    7184TT36RUS    Ford Focus     1.0  2100.0      NaN
3   X582HE161RUS    Ford Focus     2.0  2000.0      NaN
4   E34877152RUS    Ford Focus     2.0  6100.0      NaN

In [22]:
## Count the number of observations using the method count()

In [23]:
df.count() ## count non-NA cells for ech column or row

CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82
dtype: int64

## Drop the duplicates, taking into account only the following columns: CarNumber, Make_n_model, Fines
#### between the two equal observations, you need to choose the last
#### check the number of observations again

In [24]:
df = df.drop_duplicates(['CarNumber', 'Make_n_model', 'Fines'], keep='last')
df.head()

       CarNumber  Make_n_model  Refund   Fines  History
ID
0   Y163O8161RUS    Ford Focus     2.0  3200.0      NaN
1    E432XX77RUS  Toyota Camry     1.0  6500.0      NaN
2    7184TT36RUS    Ford Focus     1.0  2100.0      NaN
3   X582HE161RUS    Ford Focus     2.0  2000.0      NaN
5   92918M178RUS    Ford Focus     1.0  5700.0      NaN

In [25]:
df.count()

CarNumber       725
Make_n_model    725
Refund          713
Fines           665
History          65
dtype: int64

## Work with missing values:
#### check how many values are missing from each column
###### pandas.isnull(obj) - detect missing values for an array-like object. Returns: bool or array-like of bool. For scalar input, returns an array of boolean indicating whether each corresponding element is missing.

In [26]:
df.isnull()

     CarNumber  Make_n_model  Refund  Fines  History
ID
0        False         False   False  False     True
1        False         False   False  False     True
2        False         False   False  False     True
3        False         False   False  False     True
5        False         False   False  False     True
..         ...           ...     ...    ...      ...
926      False         False   False  False     True
927      False         False   False  False     True
928      False         False   False  False     True
929      False         False   False  False     True
930      False         False   False   True    False

[725 rows x 5 columns]

In [27]:
df.isnull().sum()

CarNumber         0
Make_n_model      0
Refund           12
Fines            60
History         660
dtype: int64

#### drop all the columns with over 500 missing values using the argument thresh, check how many missing values are in each column
###### DataFrame.dropna(axis = 0 - index (drop rows which contain missing values are removed) or 1 - columns (drop columns which contain missing value), thresh = Require that many non-NA values)

In [28]:
df = df.dropna(axis=1, thresh=500)
df.isnull().sum()

CarNumber        0
Make_n_model     0
Refund          12
Fines           60
dtype: int64

#### replace all the missing values in the Refund column with the previous value in that column for that cell, use the argument method, check how many values are missing from each column
###### DataFrame.fillna(method=None)
###### method : {'backfill', 'bfill', 'pad', 'ffill', None}, default None
###### Method to use for filling holes in reindexed Series pad/ffill: propagate last valid observation forward to next valid backfill/bfill: use next valid observation to fill gap.

In [29]:
df['Refund'].fillna(method = 'ffill')

ID
0      2.0
1      1.0
2      1.0
3      2.0
5      1.0
      ...
926    2.0
927    1.0
928    2.0
929    1.0
930    2.0
Name: Refund, Length: 725, dtype: float64

In [30]:
df['Refund'] = df['Refund'].fillna(method = 'ffill')

In [31]:
df.isnull().sum()

CarNumber        0
Make_n_model     0
Refund           0
Fines           60
dtype: int64

## replace all the missing values in the Fines column with the mean value of this column (exclude NA/null values when computing the mean value), check how many values are missing from each column
#### function mean has an argument skipna which eclude NA/null values when computing the result: skipna=True (default True)

In [32]:
df['Fines'].fillna(df['Fines'].mean())

ID
0       3200.000000
1       6500.000000
2       2100.000000
3       2000.000000
5       5700.000000
           ...
926     1600.000000
927    22300.000000
928      600.000000
929     2000.000000
930     8594.586466
Name: Fines, Length: 725, dtype: float64

In [33]:
df['Fines'] = df['Fines'].fillna(df['Fines'].mean())
df.isnull().sum()

CarNumber       0
Make_n_model    0
Refund          0
Fines           0
dtype: int64

## Split and parse the make and model
#### use the method apply both for splitting and for extracting the values to the new columns Make and Model

In [34]:
df['Make_n_model'].unique()

array(['Ford Focus', 'Toyota Camry', 'Skoda Octavia', 'Volkswagen Passat',
       'Volkswagen Golf', 'Volkswagen', 'Volkswagen Jetta',
       'Volkswagen Touareg', 'Toyota Corolla', 'Audi', 'Ford Mondeo',
       'Volvo', 'BMW'], dtype=object)

In [35]:
def col_make(str):
    str = str.split()
    make = str[0]
    return make

def col_model(str):
    str = str.split()
    model = None
    if len(str) > 1:
        model = str[1]
    return model

In [36]:
df['Make'] = df['Make_n_model'].apply(col_make)
df['Model'] = df['Make_n_model'].apply(col_model)
df.head()

       CarNumber  Make_n_model  Refund   Fines    Make  Model
ID
0   Y163O8161RUS    Ford Focus     2.0  3200.0    Ford  Focus
1    E432XX77RUS  Toyota Camry     1.0  6500.0  Toyota  Camry
2    7184TT36RUS    Ford Focus     1.0  2100.0    Ford  Focus
3   X582HE161RUS    Ford Focus     2.0  2000.0    Ford  Focus
5   92918M178RUS    Ford Focus     1.0  5700.0    Ford  Focus

#### drop the column Make_n_model

In [37]:
df = df.drop(['Make_n_model'], axis=1)
df.head()

       CarNumber  Refund   Fines    Make  Model
ID
0   Y163O8161RUS     2.0  3200.0    Ford  Focus
1    E432XX77RUS     1.0  6500.0  Toyota  Camry
2    7184TT36RUS     1.0  2100.0    Ford  Focus
3   X582HE161RUS     2.0  2000.0    Ford  Focus
5   92918M178RUS     1.0  5700.0    Ford  Focus

#### save the dataframe in the JSON file auto.json in the format below (see the subject):

In [38]:
df.to_json('../data/auto.json', orient='records')